@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional custom styles */
body {
  @apply bg-white text-gray-900;
}
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&display=swap');

body {
  font-family: 'Orbitron', sans-serif;
}
